<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/angular-1.5.8/angular.js"></script>
    <style>
        .c {
            background-color: black;
        }
    </style>
</head>
<body ng-app="mainApp" ng-controller="mainController" ng-class='{c:btn=="开"}'>
<div>
    <button ng-click='console.log("哈哈");'>Click</button>
    <button ng-click='val=!val'>点击修改变量</button>
    <div>{{val}}</div>
    <button ng-click='btn = btn ==="关"?"开":"关"'>{{btn}}</button>
</div>
</body>
<script>
    //总结：重点在ng-click
    //     ng-click='val=!val'
    //     ng-click='btn = btn ==="关"?"开":"关"'
    //     $scope.console = window.console;
    angular.module('mainApp',[])
            .controller('mainController',function($scope){
                $scope.btn = '关';
                $scope.val = true;
                $scope.console = window.console;
            })
</script>
</html>