<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nodejs服务器</title>
	<!-- <link rel="stylesheet" href="/public/css/main.css?name=11"> -->
</head>
<body>
	<h1>学习Nodejs啦！！</h1>
	<nav>
		<a href="/">首页</a>
		<a href="/doc">文档</a>
		<a href="/blog">博客</a>
	</nav>
	<section>
		<h2>首页</h2>
		<form action="http://localhost:3000" method="post">
			姓名: <input type="text" name="username">
			密码: <input type="password" name="pass">
			<input type="submit" value="保存">
		</form>
		<figure>
			<figcaption>这张图美不美</figcaption>
			<img src="/public/images/aa.jpg" alt="">
		</figure>
	</section>
	<!-- <script src="/public/js/jquery.min.js"></script> -->
</body>
</html>