<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/angular-1.5.8/angular.js"></script>
</head>
<body ng-app="mainApp">
    <div ng-controller="controllerA">
        <input type="text" ng-model="txt"><br>
        <input type="text" ng-model="txt">
    </div>
    <div ng-controller="controllerB">
        <input type="text" ng-model="txt"><br>
        <input type="text" ng-model="txt">
    </div>
</body>
<script>

    angular.module( 'app1', [] )
        .controller( 'controllerA', function () {} );
    angular.module( 'app2', [] )
        .controller( 'controllerB', function () {} );
    //这句话 是将app1和app2混入到mainApp
    angular.module( 'mainApp', [ 'app1', 'app2' ] )
      
    
</script>
</html>