<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/angular-1.5.8/angular.js"></script>
</head>
<body ng-app="mainApp">

<input type="text" ng-model="txt">

<div ng-controller="controller1">

    controller1: <input type="text" ng-model="txt">

    <div ng-controller="controller3">

        controller3: <input type="text" ng-model="txt">

    </div>
</div>
<div ng-controller="controller2">
    controller2: <input type="text" ng-model="txt">
</div>
</body>
<script>
    // 总结：将 所有的 scope 映射到 全局作用域
    //      angular在创建的时候是平行的，即使html中是包含的关系[指的是.controller]
    //      修改controller1的数值后再修改最上面的input的数值，不会改变1和3
    //      .run!!!
    angular.module( 'mainApp', [] )
            .controller( 'controller1',  function ( $scope ) {
                window.scope1 = $scope;
            })
            .controller( 'controller2',  function ( $scope ) {
                window.scope2 = $scope;
            })
            .controller( 'controller3',  function ( $scope ) {
                window.scope3 = $scope;
            })
            .run(function ( $rootScope ) {
                window.rootScope = $rootScope;
            });
</script>
</body>
</html>