<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        div {
            background-color: red;
            width: 200px;
            height: 200px;
            border:1px solid red
        }
    </style>
    <script src="../js/angular-1.5.8/angular.js"></script>
</head>
<body ng-app>
<!--总结： ng-app不能赋值


-->
<button ng-click="show = !show" style="width: 100px;height:100px">切换</button>
 <div ng-show='show'>1111111111</div>
<div ng-hide="show">22222222</div>
<div ng-if="show">333333333</div>
</body>
</html>