<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/angular-1.5.8/angular.js"></script>
</head>
<body ng-app="mainApp">
    <input type="text" ng-model="txt"><br />

    <input type="text" ng-model="txt"><br />

    <hr>

    <input type="text" ng-model="txt"><br />

    <input type="text" ng-model="txt"><br />
</body>
<script>

    angular.module( 'mainApp', [] )
    // 如果代码只是这么写, 等价于 不写 ng-app 的名字 也不写 script 代码

</script>
</html>